<%- include("templates/header") %>

<head>
	<!-- Load styles here -->
	<link rel="stylesheet" href="/styles/ask.css" />
</head>
<body>
	<div class="col-md-10 mx-auto col-lg-5 container">
		<form id="ask-form" class="p-4 p-md-5 border rounded-3" action="/asking" method="post">
			<header class="d-flex justify-content-center py-3">
				<h1 class="mb-1">Ask your questions about how to handle emergencies here!</h1>
			</header>
			<hr />
			<br />
			<div class="form-floating mb-3">
				<input type="text" id="question-input" class="form-control" placeholder="Type your question here..." required />
			</div>
			<br />
			<div class="container d-flex justify-content-center">
				<button type="submit" class="submit_button btn">Ask</button>
			</div>
			<p id="answer-display"></p>
		</form>
	</div>
	<div id="disclaimerModal" class="modal">
		<div class="modal-content">
			<h2>Legal Disclaimer</h2>
			<p>
				Please note, it is strongly advised to consult with a legal expert when facing legal issues. I am an AI and not
				a legal professional. For precise and reliable legal information, please seek counsel from a legal expert. The
				information I provide is of a general nature, and its applicability can vary greatly depending on the specifics
				of the legal situation you're facing. It is always best to rely on professional legal opinion.
			</p>
			<button id="acceptBtn" class="submit_button btn">OK</button>
		</div>
	</div>
	<!-- Load scripts here -->
	<script src="scripts/connectAI.js"></script>
	<script src="scripts/beforeConnectAI.js"></script>
</body>

<%- include("templates/footer") %>
