<%- include("templates/header") %>

<head>
	<!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
	<style>
		/* Add the CSS styles from the previous response here */
	</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 crime-details">
				<div class="crime-section">
					<h1>Details</h1>
				</div>
				<div class="crime-section">
					<h3>Crime Type</h3>
				</div>
				<div class="crime-section">
					<h3>Occurrence Date/Time</h3>
				</div>
				<div class="crime-section">
					<h3>Crime Description</h3>
				</div>
				<div class="crime-section">
					<h3>Location</h3>
				</div>
				<div class="crime-section">
					<h3>Neighborhood</h3>
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap and jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

<%- include("templates/footer") %>
