<%- include("templates/header") %>

<head>
	<!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 crime-details">
				<div class="crime-section">
					<h3>Pinned Location Address</h3>
					<!-- add < % = this to the below code when you comment it out -->
					<!-- <p> crimeLocation %></p> -->
				</div>
				<div class="crime-section">
					<h3>Crime Type</h3>
					<!-- add < % = this to the below code when you comment it out -->
					<!-- <p> crimeType %></p> -->
				</div>
				<div class="crime-section">
					<h3>Crime Photo</h3>
					<!-- add < % = this to the below code when you comment it out -->
					<!-- <img src=" crimePhoto %>" alt="Crime photo" class="crime-image" /> -->
				</div>
				<div class="crime-section">
					<h3>Crime Description</h3>
					<!-- add < % = this to the below code when you comment it out -->
					<!-- <p> crimeDescription %></p> -->
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap and jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

<%- include("templates/footer") %>
