<%- include("templates/header") %>

<head>
	<!-- Load custom CSS -->
	<link rel="stylesheet" href="/styles/error404.css" />
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-5 error-container">
				<div class="text-center">
					<p><%= error %></p>
					<a href="/" class="btn go-back-btn">Go back to home page</a>
				</div>
			</div>
		</div>
	</div>
</body>

<%- include("templates/footer") %>