<%- include("templates/header") %>

<head>
	<!-- Load styles here -->
	<link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
	<!-- Body Contents -->
	<div id="index_body" class="container">
		<div class="row">
			<div class="col-sm-4 d-sm-flex text-center justify-content-center align-items-center mb-3">
				<div>
					<h1>VanWatch</h1>
					<h2>Hello, <%= username %>!</h2>
					<br />
					<button type="button" class="index_button btn btn-secondary" onclick="window.location.href = '/signup'">Sign Up</button>
					<button type="button" class="index_button btn btn-secondary" onclick="window.location.href = '/login'">Login</button>
				</div>
			</div>
			<div class="col-sm-1"></div>
			<div id="carouselExampleIndicators" class="carousel slide col-sm-6">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="card">
							<img src="/images/map.png" class="card-img-top" alt="...">
							<div class="card-body">
								<p class="card-text">These are sample carousel card 1.</p>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="card">
							<img src="/images/heart-fill.svg" class="card-img-top" alt="...">
							<div class="card-body">
								<p class="card-text">These are sample carousel card 2.</p>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="card">
							<img src="/images/world_map.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<p class="card-text">These are sample carousel card 3.</p>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>

	<!-- Load scripts here -->
</body>

<%- include("templates/footer") %>
