<%- include("templates/header") %>

<head>
	<!-- Load styles here -->
	<link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
	<!-- Body Contents -->
	<div id="index_body" class="container">
		<div class="row">
			<div class="col-sm-4 d-sm-flex text-center justify-content-center align-items-center mb-3">
				<div>
					<% if (authenticated) { %>
					<h2>Hello, <%= username %>!</h2>
					<% } else { %>
					<h2>Hello! Welcome to VanWatch!</h2>
					<br />
					<p>Not a member yet?</p>
					<button type="button" class="index_button btn" onclick="window.location.href = '/signup'">
						Be a member!
					</button>
					<p>Login and explore VanWatch!</p>
					<button type="button" class="index_button btn" onclick="window.location.href = '/login'">Login</button>
					<% } %>
					<br />
				</div>
			</div>
			<div class="col-sm-1"></div>
			<div id="carouselExampleIndicators" class="carousel slide col-sm-6">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="card">
							<img src="/images/logo.png" class="card-img-top" alt="logo" />
							<div class="card-body d-flex flex-column align-items-center">
								<p class="card-text text-center">Welcome to VanWatch!</p>
								<button type="button" class="index_button btn" onclick="window.location.href = '/ask'">
									Ask to AI
								</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="card">
							<img src="/images/heart-fill.svg" class="card-img-top" alt="crime_image" />
							<div class="card-body d-flex flex-column align-items-center">
								<p class="card-text text-center">Report crimes that you saw and share with the community!</p>
								<button type="button" class="index_button btn" onclick="window.location.href = '/report'">
									Report crime
								</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="card">
							<img src="/images/world_map.jpg" class="card-img-top" alt="..." />
							<div class="card-body d-flex flex-column align-items-center">
								<p class="card-text">Explore what's going on in your community!</p>
								<div class="btn-group">
									<button type="button" class="index_button btn" onclick="window.location.href = '/main_map'">
										Map
									</button>
									<button type="button" class="index_button btn" onclick="window.location.href = '/main_list'">
										List
									</button>
								</div>
							</div>							
						</div>
					</div>
				</div>
				<button
					class="carousel-control-prev"
					type="button"
					data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button
					class="carousel-control-next"
					type="button"
					data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>

	<!-- Load scripts here -->
</body>

<%- include("templates/footer") %>
