<%- include("templates/header") %>

<div class="col-md-10 mx-auto col-lg-5 container">
	<form class="p-4 p-md-5 border rounded-3 bg-light" action="/loggingin" method="post">
		<header class="d-flex justify-content-center py-3">
			<h1 class="mb-1">Log in here!</h1>
		</header>
		<hr />
		<br />
		<div class="form-floating mb-3">
			<input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
			<label for="floatingInput">Email address</label>
		</div>
		<div class="form-floating mb-3">
			<input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" />
			<label for="floatingPassword">Password</label>
		</div>
		<div class="container">
			<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
		</div>
	</form>
</div>

<%- include("templates/footer") %>
