<%- include("templates/header") %>

<head>
<!-- Load styles here -->
<link rel="stylesheet" href="/styles/main_map.css" />
</head>

<body>
	<div class="row justify-content-center">
		<div class="col-lg-3 col-md-4 col-sm-12"></div>
		<div class="col-lg-6 col-md-4 col-sm-12">
			<!--
      This is the div where we should put real map in the future.
      Right now, I just put img instead of real map.
    -->
			<div id="map"><img src="/images/map.png" style="width: 100%" /></div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-12"></div>
	</div>

  <!-- Load scripts here -->

</body>

<%- include("templates/footer") %>

