<%- include("templates/header") %>

<head>
    <title>Profile</title>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Load styles here -->
    <link rel="stylesheet" href="/styles/skeleton.css" />
    <link rel="stylesheet" href="/styles/skeleton.css" />
</head>

<body>
    <!-- Body Contents -->
    <div class="container">
        <form>
            <fieldset class="mb-3" id="personalInfoFields" disabled>
                <!-- add < % - this to the below tag when you comment it out -->
                <!-- include('./partials/personal-info-form.ejs') %> -->
            </fieldset>

            <div class="d-flex justify-content-end mt-5">
                <button type="button" class="btn btn-secondary" onclick="editUserInfo()">
                    Edit
                </button>
                <span style="width: 10px"></span>
                <button type="button" class="btn btn-info" onclick="saveUserInfo()">
                    Save
                </button>
                <span style="width: 10px"></span>
                <button type="button" class="btn btn-info" onclick="location.href='sign-out.html'">Sign Out</button>
            </div>
        </form>
    </div>
    
    <!-- Load scripts here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="/scripts/skeleton.js"></script> -->
</body>

<%- include("templates/footer") %>
