<%- include("templates/header") %>

<head>
	<link rel="stylesheet" href="/styles/report.css" />
</head>

<body>
	<div class="container px-3 report_body">
		<h1 class="display-4 text-center my-5">Report your vision, Secure your community!</h1>
		<div class="col-md-10 mx-auto col-lg-5 container">
			<form
				class="p-4 p-md-5 border rounded-3 report_form"
				action="/reporting"
				method="post"
				enctype="multipart/form-data"
			>
				<div class="mb-3">
					<label for="type" class="form-label">Type:</label>
					<div class="input-group">
						<select name="type" id="type" class="form-select" aria-label="type">
							<option value="breakAndEnterCommercial">Break and Enter Commercial</option>
							<option value="breakAndEnterResidential">Break and Enter Residential/Other</option>
							<option value="homicide">Homicide</option>
							<option value="mischief">Mischief</option>
							<option value="offenseAgainstPerson">Offense Against a Person</option>
							<option value="otherTheft">Other Theft</option>
							<option value="theftFromVehicle">Theft from Vehicle</option>
							<option value="theftOfBicycle">Theft of Bicycle</option>
							<option value="theftOfVehicle">Theft of Vehicle</option>
							<option value="Other">Other</option>
						</select>
						<input type="text" name="other_type" id="other_type" class="form-control d-none" placeholder="Enter type" />
					</div>
				</div>
				<div class="mb-3">
					<label for="location" class="form-label">Location:</label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" name="street" id="street" class="form-control" placeholder="Street" required />
						</div>
						<div class="col-md-4">
							<select name="city" name="city" id="“city”" class="form-control" placeholder="City" required>
								<option value="arbutusRidge">Arbutus Ridge</option>
								<option value="centralBusinessDistrict">Central Business District</option>
								<option value="dunbarSouthlands">Dunbar-Southlands</option>
								<option value="fairview">Fairview</option>
								<option value="grandviewWoodland">Grandview-Woodland</option>
								<option value="hastingsSunrise">Hastings-Sunrise</option>
								<option value="kensingtonCedarCottage">Kensington-Cedar Cottage</option>
								<option value="kerrisdale">Kerrisdale</option>
								<option value="killarney">Killarney</option>
								<option value="kitsilano">Kitsilano</option>
								<option value="marpole">Marpole</option>
								<option value="mountPleasant">Mount Pleasant</option>
								<option value="musqueam">Musqueam</option>
								<option value="oakridge">Oakridge</option>
								<option value="renfrewCollingwood">Renfrew-Collingwood</option>
								<option value="rileyPark">Riley Park</option>
								<option value="shaughnessy">Shaughnessy</option>
								<option value="southCambie">South Cambie</option>
								<option value="stanleyPark">Stanley Park</option>
								<option value="strathcona">Strathcona</option>
								<option value="sunset">Sunset</option>
								<option value="victoriaFraserview">Victoria-Fraserview</option>
								<option value="westEnd">West End</option>
								<option value="westPointGrey">West Point Grey</option>
							</select>
						</div>
						<div class="col-md-4">
							<input type="text" name="postCode" id="postCode" class="form-control" placeholder="Post Code" required />
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="description" class="form-label">Description:</label>
					<textarea name="description" id="description" class="form-control" required></textarea>
				</div>
				<div class="mb-3">
					<label for="picture" class="form-label">Picture:</label>
					<input type="file" name="picture" id="picture" class="form-control" accept="image/*" />
				</div>
				<br />
				<div class="d-flex justify-content-center">
					<button type="submit" class="submit_button btn">Report</button>
				</div>
			</form>
		</div>
	</div>
</body>

<%- include("templates/footer")%>
