<%- include("templates/header") %> 
<head>
  <link rel="stylesheet" href="/styles/report.css">
  </head>
  <div class="container" py-5 px-3>
        <h1 class="display-4 text-center my-5 text-info">Thank you for your sharing!</h1>
        <br>
        <button onclick="location.href='/report'">Report More</button>
        <button onclick="location.href='/edit_report?reportId=<%= insertedReportId %>'">Edit Report</button>

      </div>

<%- include("templates/footer") %> 