<%- include("templates/header") %>

<head>
	<link rel="stylesheet" href="/styles/secret_report.css" />
</head>

<body>
	<div class="container px-3 report_body">
		<h1 class="display-4 text-center my-5">Secret report mode!</h1>
		<div class="col-md-10 mx-auto col-lg-5 container">
			<form
				class="p-4 p-md-5 border rounded-3 report_form"
				action="/reporting"
				method="post"
				enctype="multipart/form-data"
			>
				<div class="mb-3">
					<label for="type" class="form-label">Type:</label>
					<div class="input-group">
						<select name="type" id="type" class="form-select" aria-label="type">
							<option value="Theft">Theft</option>
							<option value="Rubbery">Rubbery</option>
							<option value="Home Invasion">Home Invasion</option>
							<option value="Car Accident">Car Accident</option>
							<option value="Other">Other</option>
						</select>
						<input type="text" name="other_type" id="other_type" class="form-control d-none" placeholder="Enter type" />
					</div>
				</div>
				<div class="mb-3">
					<label for="location" class="form-label">Location:</label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" name="street" id="street" class="form-control" placeholder="Street" required />
						</div>
						<div class="col-md-4">
							<input type="text" name="city" id="city" class="form-control" placeholder="City" required />
						</div>
						<div class="col-md-4">
							<input type="text" name="postCode" id="postCode" class="form-control" placeholder="Post Code" required />
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="description" class="form-label">Description:</label>
					<textarea name="description" id="description" class="form-control" required></textarea>
				</div>
				<div class="mb-3">
					<label for="picture" class="form-label">Picture:</label>
					<input type="file" name="picture" id="picture" class="form-control" accept="image/*" />
				</div>
				<br />
				<div class="d-flex justify-content-center">
					<button type="submit" class="submit_button btn">Report</button>
				</div>
			</form>
		</div>
	</div>
	<script src="/scripts/secret_report.js"></script>
</body>

<%- include("templates/footer") %>
