		<footer class="navbar mt-5">
			<div class="container-fluid d-flex justify-content-between align-items-center">
				<!-- Logo -->
				<img id="logoImg" src="/images/logo.png" alt="logo" />

				<!-- Name -->
				<a id="footerName" class="navbar-brand" href="/">VanWatch</a>

				<!-- Contact us -->
				<div>
					<p id="footerContactUs">Contact Us</p>
					<img class="contactImg" src="/images/facebook.png" alt="facebook" />
					<img class="contactImg" src="/images/instagram.png" alt="instagram" />
					<img class="contactImg" src="/images/twitter.png" alt="twitter" />
				</div>
			</div>
		</footer>
	</body>
</html>
