<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="footerIcon col-4 text-center d-flex flex-column align-items-center" onclick="goToPage('/')">
				<img src="/images/home.png" alt="home" />
				<p>Home</p>
			</div>
			<div class="footerIcon col-4 text-center d-flex flex-column align-items-center" onclick="goToPage('/profile')">
				<img src="/images/profile.png" style="width: 24px; height: 24px;" alt="profile" />
				<p>Profile</p>
			</div>
			<div class="footerIcon col-4 text-center d-flex flex-column align-items-center" onclick="goToPage('/setting')">
				<img src="/images/setting.png" alt="setting" />
				<p>Setting</p>
			</div>
		</div>
	</div>
</footer>


	</body>
</html>
