		<footer class="navbar bg-body-tertiary">
			<div class="container-fluid d-flex justify-content-between align-items-center">
				<!-- Logo -->
				<img id="logoImg" src="/images/heart-fill.svg" alt="logo" />

				<!-- Name -->
				<a id="footerName" class="navbar-brand" href="/">VanWatch</a>

				<!-- Contact us -->
				<div>
					<p>Contact Us</p>
					<img class="contactImg" src="/images/heart-fill.svg" alt="facebook?" />
					<img class="contactImg" src="/images/heart-fill.svg" alt="instagram?" />
					<img class="contactImg" src="/images/heart-fill.svg" alt="gmail?" />
				</div>
			</div>
		</footer>
	</body>
</html>
