.about-container {
  margin-top: 20px;
  background-color: #F9FFFE;
  padding: 20px;
  border-radius: 8px;
  }
  
  h1 {
  color: #679436;
  }
  
  h2 {
  color: #679436;
  }
  
  p {
  color: #737373;
  }