.carousel-item img {
  border-radius: 15%;
  object-fit: cover;
  width: 100%;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.index_button {
  margin-bottom: 25px;
}

.card {
  border: none;
}