.carousel-item img {
  border-radius: 15%;
  object-fit: cover;
  width: 100%;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.index_button {
  margin-bottom: 25px;
  background-color: #679436;
  color: #EDF7F6;
}

.index_button:hover {
  background-color: #73956F;
}

.card {
  border: none;
  background-color: #EDF7F6;
}
