.container {
  background-color: #EDF7F6;
}

.report_form {
  background-color: #F9FFFE;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 0;
}

.submit_button {
  background-color: #679436;
  color: #EDF7F6;
}

.submit_button:hover {
  background-color: #73956F;
}

.report_body {
  margin-bottom: 100px;
}
