body {
  background-image: url("/images/secret_agent_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
}

.display-4 {
  color: #fff;
}

.form-label {
  font-weight: bold;
  color: #fff;
}

.form-control {
  border-radius: 0;
}

.btn-primary {
  background-color: #ff0000;
  border-color: #ff0000;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #cc0000;
  border-color: #cc0000;
}

.spy-image {
  width: 200px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.secret-message {
  text-align: center;
  color: #ff0000;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
}
