body {
  background-color: #EDF7F6;
  font-family: 'Josefin Sans', sans-serif;
}

/*
css for navbar and footer
*/
#logoImg{
  margin-left: 15px;
  width: 32px;
}

#dropdown_menu {
  background-color: #F9FFFE;
}

nav {
  background-color: #73956F;
}

.footerIcon {
  margin-top: 15px;
}

footer {
  color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #73956F;
  text-align: center;
}

footer p {
  color: black;
}