body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding-top: 70px;
    overflow-y: auto !important;
  }
  
  .bg-custom {
    background-color: #a3ebe3;
    color: #484848;
    font-weight: 500;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked+.slider {
    background-color: #21f341;
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px #21f341;
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .btn {
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .btn-secondary {
    background-color: #555;
    border-color: #555;
    color: #fff;
  }
  
  .btn-info {
    background-color: #555;
    border-color: #555;
    color: #fff;
  }
  .signout{
    background-color: #555;
    border-color: #555;
    color: #fff;
  }